/* @import url(https://fonts.googleapis.com/css?family=Montserrat);
html, body {
  overflow: hidden;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.background:first-child {
  background-image: url(https://i.postimg.cc/15jBMkvx/Old-Roll-1626464262773.jpg);
  transform: translateY(-15vh);
}
.background:first-child .content-wrapper {
  transform: translateY(15vh);
}
.background:nth-child(2) {
  background-image: url(https://i.postimg.cc/cCVKtBBz/Old-Roll-1626626393108.jpg);
}
.background:nth-child(3) {
  background-image: url(https://i.postimg.cc/P50D8h2x/20210627-173331.jpg);
}
.background:nth-child(4) {
  background-image: url(https://i.postimg.cc/nVGxgkmc/Whats-App-Image-2022-07-04-at-12-43-38-PM.jpg);
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 3;
}

.background:nth-child(2) {
  z-index: 2;
}

.background:nth-child(3) {
  z-index: 1;
}
.background:nth-child(4) {
  z-index: 0;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.content-title {
  font-size: 10vh;
  line-height: 1.4;
}

 .background.up-scroll {
  transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  transform: translateY(15vh);
}
.background.up-scroll + .background {
  transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  transform: translateY(30vh);
}

.background.down-scroll {
  transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  transform: translateY(15vh);
} 

 


#link{
  text-decoration: none;
  color: white;
}
/* Hovver effect 
.content-wrapper h1 ::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.content-wrapper h1 :hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.content-wrapper h1 ::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .3s ease;
}

.content-wrapper h1 {
  position: relative;
  font-size: 5rem;
}

/* html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
} */

/* @media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
} */ 

.content-wrapper h1 
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto; 
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 100px;
}

/* @keyframes textclip {
  to {
    background-position: 200% center;
  }
}
 */


.mypic{
  position: absolute;
  top: "your percentage";
  left:0px;
  right:50px ;
  margin:0 auto;
  border: solid;
}


@media only screen and (max-width: 480px) {
  .mypic {

    max-width: 100%;
  width: 800px;
  }
  }

  
@media only screen and (min-width : 10px) {

  .mypic {
  
  height: 50%;
  
  bottom: 30%;
  
  left: 55%;
  
  }
  
  }


@media screen and (max-width: 100px) {

    .mypic {
    
    height: 300px;
    
    bottom: 100px;
    
    left: 65%;
    
    transform: translateX(-80%);
    
    padding-bottom: 100px;
    
    }
    
    }


.titleleft h1{
  font-size: 100px;
  right: 500%
}

.about{
  /* width: 100%; */
  /* height: 100vh; */
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
}


.titleleft{
  width: 550px;
  max-width: 100%;
  padding: 0 10px;
}

.aboutme .content-subtitle-one{
  width:1280px;
  max-width:95%;
  margin:0auto;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-around;
  font-size: 20px;
  left: 10px;
}


.about-wrapper{
  height: 100vh;
}
.about-left{
  /* background: #f26a8d; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.about-left-content > div{
  /* background: #f49cbb; */
  padding: 4rem 4rem 2.5rem 5rem;
  text-align: center;
}
.about-left-content{
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-img img{
  display: block;
  width: 200px;
}
.about-img{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.shadow{
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.shadow::after{
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  height: 7px;
  width: 50px;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  opacity: 0;
  transition: all 0.6s ease;
}
.shadow:hover .about-img{
  transform: translateY(-10px);
}
.shadow:hover::after{
  opacity: 1;
}
.about-left-content h2{
  font-size: 2rem;
  margin: 2.2rem 0 0.6rem 0;
  line-height: 1.2;
  padding-bottom: 1rem;
  border-bottom: 2px solid #edffec;
}
.about-left-content h3{
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 1.2rem;
}
.icons{
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
}
.icons li{
  list-style-type: none;
  background: #f36a8d;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.icons li:hover{
  background: #edffec;
  color: #000;
}
.about-right{
  /* background: #fff; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  text-align: center;
}
.about-right h1{
  font-size: 7rem;
  text-transform: uppercase;
}
.about-right h1 span{
  color: #dd2d4a;
}
.about-right h2{
  font-weight: 600;
}
.about-btns{
  display: flex;
  margin: 2rem 0;
}
.btn{
  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 0.55rem 0;
  width: 130px;
  font-weight: 600;
  background: transparent;
  margin: 0 0.5rem;
  cursor: pointer;
}
.btn.btn-pink{
  background: #dd2d4a;
  color: #fff;
  border-color: #dd2d4a;
  transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover{
  background: transparent;
  border-color: #dd2d4a;
  color: #000;
}
.btn.btn-white{
  transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
  background: #dd2d4a;
  border-color: #dd2d4a;
  color: #fff;
}
.about- p{
  font-weight: 300;
  padding: 0.5rem;
  opacity: 0.8;
} 

@media screen and (min-width: 992px){
  .about-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .about-left{
      position: relative;
  }
  .about-left-content{
      position: absolute;
      right: -50px;
  }
}

a { color: inherit; } 


/* third page projects cards */

/* img{
  width: 100%;
  display: block;
} */

.card{
  background:#fff;
  box-shadow: 0px 0px 7px -2px rgba(102, 102, 102, 1);
  margin: 1.2rem;
}


.card-img{
  position: relative;
}

.writer-img{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}

.writer-img img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.writer-img::before{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border-radius: 50%;
  background: #fff;
  z-index: -1;
  box-shadow: 0 4px 7px rgb(0, 0, 0.3);
}

.card-content{
  margin: 2rem 0;
  padding: 1.7rem 2.2rem;
  text-align: center;
}


@media screen and (min-width:1200px){
  .row{
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 7rem;
  }
}



